.Lucky7 {
  display: inline-block;
}

.Lucky7-dice {
  padding: 1em 0 1em 0;
  border: dashed 0.4px darkblue;
  border-radius: 16px;
  text-align: center;
  margin: 5em, auto, 5em, auto;

}

.Lucky7-die {
  background-color: cadetblue;
  border-radius: 0.8px;
  color: white;
  display: inline-block;
  width: 3em;
  height: 2.25em;
  padding-top: 0.75em;
  text-align: center;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-size: 1.5em;
}

button {
  margin-top: 2em;
}